<!DOCTYPE html>
<html>
<head>
    <title>Blood Sugar Tracker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <style>
        body {
            padding: 10px;
        }
        
        
    </style>
</head>
<body>
    <div class="container">
        <h3 style="text-align: center; font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;">
            Welcome to the <span style="color: darkorange;">Gluco Gadget!</span>
        </h3>
        
        <h5 style="text-align: center; font-weight: 500 ;font-family: Georgia, 'Times New Roman', Times, serif;font-style: italic; color:rgb(255, 206, 115) ">Your personal blood sugar tracker...</h5>
        <div class="row">
            <div class="col s12 m4">
                <h5 style="font-weight: bold; font-family: Georgia, 'Times New Roman', Times, serif;color: black;">Enter Your Data</h5>
                <form action="/submit" method="POST">
                    <div class="input-field">
                        <input type="text" id="date" name="date" class="datepicker">
                        <label for="date">Date</label>
                    </div>
                    <div class="input-field">
                        <input type="text" id="pre_prandial_time" name="pre_prandial_time" class="timepicker">
                        <label for="pre_prandial_time">Pre-Prandial Time</label>
                    </div>
                    <div class="input-field">
                        <input type="number" id="pre_prandial" name="pre_prandial" step="10">
                        <label for="pre_prandial">Pre-Prandial Value</label>
                    </div>
                    <div class="input-field">
                        <input type="text" id="post_prandial_time" name="post_prandial_time" class="timepicker">
                        <label for="post_prandial_time">Post-Prandial Time</label>
                    </div>
                    <div class="input-field">
                        <input type="number" id="post_prandial" name="post_prandial" step="10">
                        <label for="post_prandial">Post-Prandial Value</label>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light orange">Submit</button>
                </form>
                <br>
                <a href="/filter" class="btn waves-effect waves-light orange">Filter Your Results</a>
            </div>
            <div class="col s12 m8">
                
                <div id="graph">{{ graph_html|safe }}</div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var date_elems = document.querySelectorAll('.datepicker');
            var time_elems = document.querySelectorAll('.timepicker');
            var date_instances = M.Datepicker.init(date_elems, {format: 'yyyy-mm-dd'});
            var time_instances = M.Timepicker.init(time_elems, {twelveHour: false});
        });
    </script>
</body>
</html>
